body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

html {
    height: 100%;
}

 .content {
    flex: 1;
}

#footer {
   left:0px;
   bottom:0px;
   position: relative;
}

.welcome-text {
    font-size: 20px;
    margin-top: 40px;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.recipe-image {
    max-width: 100%;
    max-height: 100%;
}

.recipe-page-image {
    margin-bottom: 24px;
}

.recipe-instructions {
    margin-bottom: 24px;
}

ul {
    margin-bottom: 24px;
}

 a {
    margin : 0px;
}

h5 {
    font-size: 30px;
}

.container {
    width: 100vw;
}

/*-------This section is copied from css.tricks.com/perfect-full-page-background-image------*/
.callout-container-fluid {
    height: 100vh;
    width: 100%;
    background: url("../images/landing-page.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   position: relative;
   margin-bottom: 0px;
   }

.add-recipes {
    height: auto;
    width: 100%;
    background: url("../images/platter.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   position: relative;
   margin-bottom: 0px;
   }

.edit-recipes {
    height: auto;
    width: 100%;
    background: url("../images/herbs.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   position: relative;
   }

.login {
    height: auto;
    width: 100%;
    background: url("../images/burger.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   position: relative;
   margin-bottom: 0px;
   }

.register {
    height: auto;
    width: 100%;
    background: url("../images/plates.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   position: relative;
   margin-bottom: 0px;
   }

.recipe {
    height: auto;
    width: 100%;
    background: url("../images/table-vegetable-border.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 0px;
   }

.add-recipes-panel, .edit-recipes-panel, 
.login-panel, .register-panel {
    width: 75vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-panel {
    margin-top: 40px;
}

.title-panel, .content-panel {
    width: 75vw;
    margin-right: 80px;
    margin-left: 80px;
}

footer ul li{
  display: inline;
  margin: 5px;
}

.social-icon {
    height: 40px;
    width: 40px;
}