<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<title>Recipes Without</title>
	<meta content="Recipe site including gluten free, dairy free and egg free recipes" name="Description">
</head>
<body>
	<div class="row">
		<div class="col s12" id="error-page">
			<div class="section-text brown-text" id="error-heading">
				<span class="s12 center-align"></span>
				<h3><span class="s12 center-align">No Recipes Here</span></h3><span class="s12 center-align"><a class="btn teal lighten-3 error-button" href="{{%20url_for('home')%20}}">Back to Recipes Without!</a></span>
			</div>
		</div>
	</div>
</body>
</html>