<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Recipes Without</title>
    <meta content="Recipe site including gluten free, dairy free and egg free recipes" name="Description">
</head>
<body>
    <div class="row">
  <div class="col s12" id="error-page">
			<div class="section-text brown-text" id="error-heading">
                <span class="s12 center-align"><h3>Something's Wrong</h3></span>
                <span class="s12 center-align"> <a href="{{ url_for('home') }}" class="btn teal lighten-3 error-button">Back to Recipes Without!</a></span>
        </div>
    </div> 
</div>

</body>
</html>