{% extends "base.html" %}
{% block content %}

<!--form copied from Materialize. Code referneced from the 'task manager' mini project-->
<div class="admin_section">
    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="manage-account-panel">
                <h3 class="center-align brown-text title-text">Admin Section</h3>
                <button class="btn teal lighten-3"><a href="{{ url_for('my_recipes', username=session['user']) }}"
                        class="white-text">My Recipes</a></button>
            </div>
{% for user in users %}
<div class="card-panel">
    <h5 class="brown-text">{{ user.username.title() }}</h5>
    <a href="{{ url_for('my_recipes', username=user.username) }}" class="btn teal lighten-3 white-text">User's Recipes</a>
    <a href="#modal-id{{ loop.index }}" class="btn teal lighten-3 white-text modal-trigger">Delete Account</a>
<div id="modal-id{{ loop.index }}" class="modal">
    <div class="modal-content">
        <h4>Confirm Delete</h4>
        <p>Are you sure you want to delete your account?</p>
    
    <div class="modal-footer">
        <a href="{{ url_for('admin_delete', username=['admin'], user_id=user._id) }}" class="btn red lighten-2">Yes
            I'm Sure</a>
        <a href="{{ url_for('admin', username=['admin'], user_id=user._id) }}" class="btn teal lighten-2">Cancel</a>
    </div>
</div>
</div>

</div>
{% endfor %}

        </div>
    </div>
    </div>

{% endblock %}