{% extends "base.html" %}
{% block content %}

<div class="edit-recipes brown-text"> 
<!--form copied and adapted from Materialize and 'Task Manager' mini project-->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row card-panel edit-recipes-panel">
                <h3 class="center-align">Edit Recipe</h3>
            <!-- recipe category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name"></label>
                </div>
            </div>
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- equipment needed -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix"></i>
                    <input id="equipment_needed" name="equipment_needed" minlength="10" maxlength="100" value="{{ recipe.equipment_needed }}" type="tel" class="validate" required>
                    <label for="equpiment_needed">Equipment Needed</label>
                </div>
            </div>
                                    <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pizza-slice prefix"></i>
                    <input id="portions" name="portions" minlength="10" maxlength="200" value="{{ recipe.portions }}" type="text"
                        class="validate" required>
                    <label for="portions">Number of portions</label>
                </div>
            </div>
            <!-- recipe ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-seedling prefix"></i>
                        <textarea id="ingredients" name="ingredients" minlength="10" maxlength="200" class="materialize-textarea validate" required>
                            {{- recipe.ingredients -}}
                        </textarea>
                        <label for="ingredients">Ingredients</label>
                        </div>
            </div>
            <!-- recipe method -->
              <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                        <textarea id="method" name="method" minlength="10" maxlength="500" class="materialize-textarea validate" required>
                            {{- recipe.method -}}
                        </textarea>
                        <label for="method">Method</label>
                        </div>
            </div>
            <!-- image -->
                        <div class="row">
            <div class="input-field col s12">
                <i id="add-image" class=" fas fa-camera prefix"></i>
                <input id="image_url" name="image_url" value="{{ recipe.image }}" type="text" minlength="5" pattern="https://.*" required>
                <label for="image_url">Add an image</label>
            </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large teal lighten-3">
                        Edit Recipe <i class="fas fa-edit"></i>
                    </button>
                    <a href="{{ url_for('my_recipes', username=session['user']) }}" class="btn-large teal lighten-3">Cancel</a>
                </div>
            </div>
            </div>
        </form>
    </div>

{% endblock %}