{% extends "base.html" %}
{% block content %}

<!--form copied from Materialize. Code referneced from the 'task manager' mini project-->
    <div class="row login brown-text">
            <section>
        {% with messages=get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <div class="row flash-messages">
            <div class="col s12 m6 offset-m1 center-align">
                <div class="card-panel title-panel teal lighten-4">
                    <h4 class="center-align brown-text">{{ message }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}

        {% endif %}
        {% endwith%}
    </section>
        <div class="col s12 m4 offset-m4">
        <form method="POST" action="{{ url_for('login') }}">
            <div class="card-panel login-panel">
                <h3 class="center-align">Log In</h3>
                <!--username-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$" class="validate" required>
                        <label for="username">User Name</label>
                    </div>
                </div>
                <!--password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--confirm password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="confirm-password" name="confirm-password" type="password" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$" class="validate" required>
                        <label for="confirm-password">Confirm Password</label>
                    </div>
                </div>
                <!--submit-->
                <div class="row">
                    <div class="col s12 center-align">
                     <button class="btn teal lighten-3" type="submit" name="action">Log In
                    </button>

        <p>New User?</p>
        <a href="{{ url_for('register') }}" class="btn teal lighten-3">Register Here</a>
        <p>Forgot Password?</p>
        <a href="{{ url_for('send_password_reset') }}" class="btn teal lighten-3">Reset</a>
    </div>
    </div>
            </div>
        </form>
    </div>
 </div>

{% endblock %}