{% extends "base.html" %}
{% block content %}

<!--form copied from Materialize. Code referneced from the 'task manager' mini project-->
    <div class="my_recipes">
    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="card-panel category-title">
                <h3 class="center-align brown-text">{{ username.title() }}'s Recipes</h3>
            </div>
        </div>
    </div>
    {% if recipes %}
        <div class="row my-recipes-cards">
            {% for recipe in recipes %}            

            
            
            <div class="col s4 center-align">
                <div class="card-panel large">
                    <div class="card-title brown-text truncate">{{ recipe.recipe_name }}</div>
                    
                    
                        <img src="{{ recipe.image }}" loading="lazy" alt="{{ recipe.alt }}" class="card-image">
                        
                    
                    <div class="card-buttons">

                        <a href="{{ url_for('recipe', username=session['user'], recipe_id=recipe._id) }}"
                            class="btn teal lighten-3">View Recipe</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id, username=username) }}"
                            class="btn teal lighten-3 center-align">Edit Recipe</a>
                        <button data-target="{{ recipe._id }}" class="btn modal-trigger teal lighten-3">Delete</button>

                        <div id="{{ recipe._id }}" class="modal">
                            <div class="modal-content">
                                <h4>Confirm Delete</h4>
                                <p>Are you sure you want to delete this recipe?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                    class="btn red lighten-2">Yes
                                    I'm Sure</a>
                                <a href="{{ url_for('my_recipes', username=session['user']) }}"
                                    class="btn teal lighten-2">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            
           
            {% endfor %}

            {% else %}

            <div class="row no-recipes">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="card-panel category-title">
                <h3 class="center-align brown-text">No recipes found</h3>
                <a href="{{ url_for('add_recipes') }}"
                            class="btn teal lighten-3">Add Recipe</a>
            </div>
        </div>
</div>
            {% endif %}
            
</div>
              
   <a href="#modal-id" class="brown-text darken-3 modal-trigger">Delete Account</a>
                        <div id="modal-id" class="modal">
                            <div class="modal-content">
                                <h4>Confirm Delete</h4>
                                <p>Are you sure you want to delete your account?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_user', username=session['user']) }}"
                                    class="btn red lighten-2">Yes
                                    I'm Sure</a>
                                <a href="{{ url_for('my_recipes', username=session['user']) }}"
                                    class="btn teal lighten-2">Cancel</a>
                            </div>
                        </div>
                    
                          
        {% endblock %}