{% extends "base.html" %}
{% block content %}

<!--form copied from Materialize. Code referneced from the 'task manager' mini project-->

<h3 class="center-align">My Recipes</h3>
    <div class="row">
        <div class="col s12 m8 offset-m2 center-align">
            {{ username }}'s profile
            </div>
        </div>
        <div class="row"> 
            <div class="col s12 m8 offset-m2 center-align">     
            <div class="card-panel">
            {% for recipes in recipes %}
             <div class="row">
    <div class="col s12 m8 offset-m2 center-align">
      <div class="card center-align">
                {% if recipes.added_by == session["user"] %}
                <div class="card-image">
          <img src="">
          <div class="card-title col s12 m8 offset-m2 center-align">{{ recipes.recipe_name }}</div>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>

          <a href="{{ url_for('recipe', username=session['user'], recipe_id=recipes._id) }}">View Recipe</a>

        <div class="row">
            <div class="col s12 m8 offset-m2 center-align">
<a href="{{ url_for('delete_recipe', recipe_id=recipes._id) }}" class="waves-effect waves-light btn center-align">Delete Recipe</a>
<a href="{{ url_for('edit_recipe', recipe_id=recipes._id) }}" class="waves-effect waves-light btn center-align">Edit Recipe</a>
        </div>
        </div>
             </div>
        </div>
            {% endif %}
            </div>
            </div>
    </div>
  </div>
  </div>  
            {% endfor %}    
           


    

    
        
   

    
{% endblock %}