{% extends "base.html" %}
{% block content %}
<h3 class="co s12"></h3>
    
    {{ recipes.category_name }}<br>
    {{ recipes.recipe_name }}<br>
    <img src="{{ recipes.image }}">
    {% for equipment in recipes.equipment_needed.split(",") %}
    {{ equipment }}<br>
    {% endfor %}
    {% for ingredient in recipes.ingredients.title().split(",")%}
        <p>{{ ingredient }}</p>

    {% endfor %}
    {% for sentences in recipes.method.split(",") %}
        <p>{{ sentences }}</p>
    {% endfor %}
     
{% endblock %}


