{% extends "base.html" %}
{% block content %}
<h3 class="col s12 center-align">{{ recipes.recipe_name }}</h3>
    
<h4 class="col s12 center-align">{{ recipes.category_name }}</h4>    <br>
    
    <img src="{{ recipes.image }}">
    <h5 class="col s12">Equipment Needed</h5>
    {% for equipment in recipes.equipment_needed.split(",") %}
    
    <ul>
        <li><i class="fas fa-dot-circle"></i>{{ equipment }}</li>
    </ul>
    {% endfor %}

    <h5 class="col s12">Ingredients</h5>
    {% for ingredient in recipes.ingredients.title().split(",")%}
    <ul>
        <li><i class="fas fa-dot-circle"></i>{{ ingredient }}</li>
    </ul>
    {% endfor %}

    <h5 class="col s12">Method</h5>
    
        <p>{{ recipes.method }}</p>

    <h5 class="col s12">Added By</h5>
    
        <p>{{ recipes.added_by }}</p>

    <h5 class="col s12">Added On</h5>
    
        <p>{{ recipes.added_on }}</p>
    
    <a href="{{ url_for('my_recipes', username=session['user']) }}" class="btn teal lighten-3">Back to My Recipes</a> 
{% endblock %}


