{% extends "base.html" %}
{% block content %}
<div class="recipe brown-text">
    <div class="row">
        <div class="col s12 m8 center-align">
            <div class="card-panel title-panel">
                <h3 class="center-align">{{ recipes.recipe_name }}</h3>
            </div>
            <div class="card-panel content-panel">
                <img src="{{ recipes.image }}" class="recipe-page-image responsive-img">
                <hr>
                <h5 class="col s12 recipe-instructions">Equipment Needed</h5>

                {% for equipment in recipes.equipment_needed.split(",") %}
                <ul class="left-align">
                    <div class="row">
                        <div class="col s12 m6 offset-m2 list-text">
                            <li><i class="fas fa-utensils teal-text lighten-3"></i>
                                {{ equipment.title() }}</li>
                        </div>
                    </div>
                </ul>
                {% endfor %}
                <hr>
                <h5 class="col s12 recipe-instructions">Ingredients</h5>
                {% for ingredient in recipes.ingredients.title().split(",") %}
                <ul class="left-align recipe-list">
                    <div class="row">
                        <div class="col s12 m6 offset-m2 list-text">
                            <li><i class="fas fa-seedling teal-text lighten-3"></i>
                                {{ ingredient.title() }}</li>
                        </div>
                    </div>
                </ul>
                {% endfor %}
                <hr>
                <h5 class="recipe-instructions">Method</h5>
                <div class="row">
                    <div class="col s10 offset-s1 center-align list-text">
                        <p>{{ recipes.method }}</p>
                    </div>
                </div>
                <hr>
                <h5 class="col s12 recipe-instructions">Portions</h5>

                <p class="list-text">{{ recipes.portions }}</p>
                <hr>
                <h5 class="col s12 recipe-instructions">Added By</h5>

                <p class="list-text">{{ recipes.added_by.title() }}</p>
                <hr>
                <h5 class="col s12 recipe-instructions">Added On</h5>

                <p class="list-text">{{ recipes.added_on }}</p>

                <!-- Display quantity of upvotes/downvotes -->
                {% if recipes.upvotes %}
                <p>Upvotes {{ recipes.upvotes }}</p>
                {% else %}
                <p>Upvotes 0</p>
                {% endif %}
                {% if recipes.downvotes %}
                <p>Downvotes {{ recipes.downvotes }}</p>
                {% else %}
                <p>Downvotes 0</p>
                {% endif %}
                <div class="row">
                    <div class="col s12 center-align">
                        {% if session.user %}
                        {% if recipes._id in user_upvotes %}
                        <button class="btn teal lighten-3 vote-buttons col s12"><a
                                href="{{ url_for('downvotes', recipe_id=recipes._id) }}" class="white-text"><i
                                    class="fas fa-thumbs-down"></i></a></button>
                        {% elif recipes._id in user_downvotes%}
                        <button class="btn teal lighten-3 vote-buttons"><a
                                href="{{ url_for('upvotes', recipe_id=recipes._id) }}" class="white-text"><i
                                    class="fas fa-thumbs-up"></i></a></button>
                        {% else %}
                        <button class="btn teal lighten-3 vote-buttons"><a
                                href="{{ url_for('upvotes', recipe_id=recipes._id) }}" class="white-text"><i
                                    class="fas fa-thumbs-up"></i></a></button>
                        <button class="btn teal lighten-3 vote-buttons"><a
                                href="{{ url_for('downvotes', recipe_id=recipes._id) }}" class="white-text"><i
                                    class="fas fa-thumbs-down"></i></a></button>

                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        {% if session['user'] %}
                        <a href="{{ url_for('my_recipes', username=session['user']) }}" class="btn teal lighten-3">My
                            Recipes</a>
                        <a href="{{ url_for('home') }}" class="btn teal lighten-3">Home</a>
                        {% else %}
                        <a href="{{ url_for('home') }}" class="btn teal lighten-3">Home</a>
                        {% endif %}
                        {% if session.user == "admin" %}
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="{{ url_for('admin', username=['admin']) }}" class="btn teal lighten-3">Admin
                                    Section</a>

                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}