{% extends "base.html" %}
{% block content %}

<div class="row contact brown-text">
            {% with messages=get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <div class="row flash-messages">
            <div class="col s12 m6 offset-m3 center-align">
                <div class="card-panel teal lighten-3">
                    <h4 class="center-align brown-text">{{ message }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}

        {% endif %}
        {% endwith%}
    <div class="col s12 m6 offset-m3">
        <form method="POST" action="{{ url_for('send_password_reset') }}" novalidate>
            <div class="card-panel contact-card">
                <h3 class="center-align brown-text">Reset Password</h3>
                <p class="brown-text reset-paragraph center-align">Enter your details to recieve a reset password link</p>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="fas fa-user prefix brown-text"></i>
                    <input placeholder="Username" id="username1" name="username1" type="text" class="validate" required>
                    <label for="username1">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="fas fa-envelope prefix brown-text"></i>
                    <input placeholder="Email address" id="email1" name="email1" type="email" class="validate">
                    <label for="email1">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn teal lighten-3">
                        Submit 
                    </button>
                </div>
            </div>
             <div class="row">
                <div class="col s12 center-align">
                  <a href="{{ url_for('login') }}" class="btn teal lighten-3">Cancel</a> 
                </div>
            </div>
            
            </div>
        </form>
    </div>
</div>
{% endblock %}


